<header class="top-header">
  <div class="header-top">
    <div class="logo">
      <a routerLink="/"><span>SnapCart</span></a>
      <small>BIG MEGA STORE</small>
    </div>

    <div class="search-box">
      <input
        type="text"
        placeholder="Search product..."
        [(ngModel)]="searchTerm"
        (input)="onInputChange()"
        (keyup.enter)="onSearch()"
      />
      <button (click)="onSearch()">
        <mat-icon class="material-icons-outlined">search</mat-icon>
      </button>

      @if (suggestions.length > 0) {
        <div class="search-dropdown">
          @for (item of suggestions; track item.id) {
            <div class="dropdown-item" (click)="selectProduct(item)">
              {{ item.title }}
            </div>
          }
        </div>
      }
    </div>

    <div class="header-icons">
      <div class="login-section">
        @if (!isLoggedIn) {
          <a
            [routerLink]="isLoggedIn ? '/' : '/login'"
            routerLinkActive="active"
            class="btn secondary"
            >Login</a
          >
        } @else {
          <div class="avatar-container">
            <img (click)="toggleMenu($event)" src="/avatar.png" alt="" class="avatar-img" />

            @if (showMenu) {
              <div class="overlay" (click)="closeMenu()"></div>
              <div class="dropdown">
                <button (click)="logout()">Logout</button>
              </div>
            }
          </div>
        }
      </div>

      <div class="icon">
        <a routerLink="/wishlist" class="fav-icon">
          <mat-icon class="material-icons-outlined">favorite_border</mat-icon>
          <span class="fav-badge">
            {{ isLoggedIn ? itemCount() : 0 }}
          </span>
        </a>

        <a routerLink="/cart" class="cart-icon">
          <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
          <span class="cart-badge">
            {{ isLoggedIn ? itemCount() : 0 }}
          </span>
        </a>
      </div>
    </div>
  </div>

  <app-navbar />
  @if (!hideBreadcrumb) {
    <app-breadcrumb />
  }
</header>
