<div class="app-wrapper">
  @if (!hideLayout) {
    <app-header [hideBreadcrumb]="hideBreadcrumb" />

    <!-- <div class="breadcrumb">
      <app-breadcrumb />
    </div> -->
  }

  <main class="page-container" [class.auth-page]="hideLayout">
    <router-outlet />
  </main>

  @if (!hideLayout) {
    <app-footer />
  }
</div>

<!-- <div class="app-wrapper">
  @if (!hideLayout && !hideBreadcrumb) {
    <header>
      <app-header />
      <div class="breadcrumb"> -->
<!-- <app-breadcrumb /> -->
<!-- </div>
    </header>
  }

  <main class="page-container">
    <router-outlet />
  </main>

  @if (!hideLayout) {
    <app-footer />
  }
</div> -->
