body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.signup-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.signup-card {
  width: 80vh;
  background: #002241;
  color: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

.logo {
  font-size: 42px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 38px;
}

p {
  color: #e7f5ff;
  margin-bottom: 25px;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email .input-box {
  max-width: 40vh;
}

.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
}

.phone-btn {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 0.75rem;
}

.phone input {
  width: 40vh;
}

.remove {
  background: #e03131;
}

.remove:hover {
  background: #c92a2a;
}

.add {
  background: #2f9e44;
}

.add:hover {
  background: #2b8a3e;
}

.phone button {
  margin: 0;
  width: 14vh;
  padding: 14px;
  border: none;
  border-radius: 8px;
  /* background: #09447b; */
  color: white;
  font-size: 12px;
  cursor: pointer;
}

label {
  display: block;
  text-align: left;
  margin: 15px 0 8px;
  font-weight: bold;
}

.input-box {
  display: flex;
  align-items: center;
  background: #0e406f79;
  border: 1px solid #1e6ab2;
  border-radius: 8px;
  padding: 12px;
}

.input-box span {
  margin-right: 10px;
}

.input-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}
.input-box input::placeholder {
  color: #5f85a3;
  opacity: 1;
}

button {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #09447b;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #07325a;
}

.login-link {
  margin-top: 25px;
  /* background: #0e406f79; */
  padding: 12px;
  border-radius: 8px;
  color: #e7f5ff;
}

.login-link a {
  color: #6ec0ff;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  color: #49a6ed;
}

/* .auth-container {
  width: 350px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
} */
