<div class="signup-wrapper">
  <div class="signup-card">
    <h1>Create Account</h1>
    <p>Signup to create your account</p>

    <form (ngSubmit)="onSignup()">
      <div class="name">
        <div>
          <label>First Name</label>
          <div class="input-box">
            <span>👤</span>
            <input
              id="text"
              type="text"
              [(ngModel)]="name"
              name="name"
              placeholder="Enter your name"
              required
            />
          </div>
        </div>
        <div>
          <label>Last Name</label>
          <div class="input-box">
            <span>👤</span>
            <input
              id="text"
              type="text"
              [(ngModel)]="name"
              name="name"
              placeholder="Enter your name"
              required
            />
          </div>
        </div>
      </div>

      <div class="email">
        <label>Email</label>
        <div class="input-box">
          <span>✉️</span>
          <input
            id="email"
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </div>
      </div>

      <!-- <div>
          <label>Phone Number</label>
          <div class="input-box">
            <span>📞</span>
            <input
              id="tel"
              type="tel"
              [(ngModel)]="phone"
              name="phone"
              placeholder="Enter phone number"
              required
            />
          </div>
        </div> -->

      <div class="password">
        <div>
          <label>Password</label>
          <div class="input-box">
            <span>🔒</span>
            <input
              id="password"
              type="password"
              [(ngModel)]="password"
              name="password"
              placeholder="Enter your password"
              required
            />
          </div>
        </div>

        <div>
          <label>Confirm Password</label>
          <div class="input-box">
            <span>🔒</span>
            <input
              id="confirm-password"
              type="password"
              [(ngModel)]="password"
              name="confirm-password"
              placeholder="Enter your password"
              required
            />
          </div>
        </div>
      </div>

      <div formArrayName="phones">
        <label>Phone Number</label>
        <div class="phone">
          <!-- @for (phone of phones.controls; track $index; let i = $index) { -->
          <div class="input-box">
            <input placeholder="Phone number" />
          </div>
          <!-- } -->
          <div class="phone-btn">
            <button type="button" class="remove">Remove</button>

            <button type="button" class="add">Add Phone</button>
          </div>
        </div>
      </div>

      <button type="submit">Sign Up</button>
    </form>

    <div class="login-link">
      I have an account?
      <a routerLink="/login">Login</a>
    </div>
  </div>
</div>

<!-- <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">


  <div>
    <label>First Name</label>
    <input formControlName="firstName" type="text">
    <div *ngIf="getError(registrationForm.get('firstName'), 'required')">
      First Name is required
    </div>
  </div>


  <div>
    <label>Last Name</label>
    <input formControlName="lastName" type="text">
    <div *ngIf="getError(registrationForm.get('lastName'), 'required')">
      Last Name is required
    </div>
  </div>

  <div>
    <label>Email</label>
    <input formControlName="email" type="email">
    <div *ngIf="getError(registrationForm.get('email'), 'required')">
      Email is required
    </div>
    <div *ngIf="getError(registrationForm.get('email'), 'email')">
      Enter a valid email
    </div>
    <div *ngIf="getError(registrationForm.get('email'), 'emailTaken')">
      Email is already taken
    </div>
  </div>


  <div>
    <label>Password</label>
    <input formControlName="password" type="password">
    <div *ngIf="getError(registrationForm.get('password'), 'required')">
      Password is required
    </div>
    <div *ngIf="getError(registrationForm.get('password'), 'minlength')">
      Password must be at least 6 characters
    </div>
  </div>


  <div>
    <label>Confirm Password</label>
    <input formControlName="confirmPassword" type="password">
    <div *ngIf="getError(registrationForm.get('confirmPassword'), 'required')">
      Confirm Password is required
    </div>
    <div *ngIf="registrationForm.hasError('passwordMismatch') && (registrationForm.dirty || registrationForm.touched)">
      Passwords do not match
    </div>
  </div>


  <div formArrayName="phones">
    <label>Phone Numbers</label>
    <div *ngFor="let phone of phones.controls; let i = index">
      <input [formControlName]="i" type="text">
      <button type="button" (click)="removePhone(i)" *ngIf="phones.length > 1">Remove</button>
      <div *ngIf="getError(phone, 'required')">Phone is required</div>
    </div>
    <button type="button" (click)="addPhone()">Add Phone</button>
  </div>


  <button type="submit" [disabled]="registrationForm.invalid">Register</button>
</form> -->
