<div class="login-wrapper">
  <div class="login-card">
    <h1>Welcome Back</h1>
    <p>Login to access to your account</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <div class="input-box" [ngClass]="{ 'invalid-input': emailIsInvalid }">
        <!-- <span>✉️</span> -->
        <mat-icon class="material-icons-outlined">email</mat-icon>
        <input
          id="email"
          type="email"
          placeholder="Enter your email"
          [formControl]="form.controls.email"
        />
      </div>

      <div class="error">
        @if (emailIsInvalid) {
          <p class="error-line">{{ emailError }}</p>
        }
      </div>

      <label for="password">Password</label>
      <div class="input-box" [ngClass]="{ 'invalid-input': passwordIsInvalid }">
        <!-- <span>🔒</span> -->
        <mat-icon>lock</mat-icon>
        <input
          id="password"
          type="password"
          placeholder="Enter your password"
          formControlName="password"
        />
      </div>

      <div class="error">
        @if (passwordIsInvalid) {
          <p class="error-line">{{ passwordError }}</p>
        }
      </div>

      <!-- <div class="error">
        @if (emailIsInvalid || passwordIsInvalid) {
          <p class="error-line">
            {{ combinedErrors }}
          </p>
        }
      </div> -->
      <button type="submit">Login</button>
    </form>

    <div class="signup-link">
      Don't have an account?
      <a routerLink="/signup">Sign Up</a>
    </div>
  </div>
</div>

<!-- @if (emailIsInvalid) {
        <p>
          @if (email?.errors?.['required']) {
            <span>Email is required.</span>
          }
          @if (email?.errors?.['email']) {
            <span>Enter a valid email.</span>
          }
        </p>
      } -->

<!-- @if (emailIsInvalid) {
        <p>Please enter a valid email address</p>
      }

      @if (passwordIsInvalid) {
        <p>Please enter a valid password (at least 6 characters long).</p>
      } -->

<!-- @if (passwordIsInvalid) {
        <p>
          @if (password?.errors?.['required']) {
            <span>Password is required.</span>
          }
          @if (password?.errors?.['minlength']) {
            <span> Password must be at least 6 characters. </span>
          }
        </p>
      } -->
<!-- Combined error block -->

<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


  <div>
    <label>Email</label>
    <input type="email" formControlName="email">

    <div *ngIf="getError('email', 'required')">
      Email is required
    </div>

    <div *ngIf="getError('email', 'email')">
      Enter a valid email
    </div>
  </div>


  <div>
    <label>Password</label>
    <input type="password" formControlName="password">

    <div *ngIf="getError('password', 'required')">
      Password is required
    </div>

    <div *ngIf="getError('password', 'minlength')">
      Minimum 6 characters required
    </div>
  </div>


  <button type="submit" [disabled]="loginForm.invalid">
    Login
  </button>

</form> -->
