body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.login-card {
  width: 420px;
  background: #002241;
  color: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 38px;
}

p {
  color: #e7f5ff;
  margin-bottom: 30px;
}

label {
  display: block;
  text-align: left;
  margin: 15px 0 8px;
}

.input-box {
  display: flex;
  align-items: center;
  background: #0e406f79;
  border: 1px solid #1e6ab2;
  border-radius: 8px;
  padding: 12px;
}

.input-box mat-icon {
  margin-right: 10px;
  color: #a4c9e3;
}
.input-box input::placeholder {
  color: #5f85a3;
  opacity: 1;
}

.input-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}

button {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #09447b;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #07325a;
}

.signup-link {
  margin-top: 25px;
  padding: 12px;
  border-radius: 8px;
  color: #e7f5ff;
}

.signup-link a {
  color: #6ec0ff;
  text-decoration: none;
}

.signup-link a:hover {
  color: #49a6ed;
}

button[disabled] {
  background-color: #999;
  cursor: not-allowed;
}

.error {
  display: flex;
  padding-left: 1px;
}
.error-line {
  color: #ff0000;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.9rem;
}

.input-box:has(input.ng-invalid.ng-touched) {
  background-color: #fff6f5;
  border-color: #e62525;
}

.input-box:has(input.ng-invalid.ng-touched) input {
  color: #000;
}
