<h2>My Orders</h2>

@if (orders().length > 0) {
  @for (order of orders(); track order.id) {
    <div class="card-box">
      <p><strong>Order ID:</strong> {{ order.id }}</p>

      <p>
        <strong>Placed On:</strong>
        {{ order.date | date: 'medium' }}
      </p>

      <p>
        <strong>Total:</strong>
        ₹ {{ order.total | number: '1.0-0' }}.00
      </p>

      <p>
        <strong>Status:</strong>
        {{ order.status }}
      </p>

      <h3>Products</h3>

      @for (item of order.items; track item.id) {
        <div class="order-product" (click)="viewProductDetails(item.id)">
          <img [src]="item.image || item.images?.[0] || item.thumbnail" />

          <div>
            <h4>{{ item.title || item.name }}</h4>
            <p>Qty: {{ item.quantity }}</p>
            <p>₹ {{ item.price * item.quantity | number: '1.0-0' }}.00</p>
          </div>
        </div>
      }
    </div>
  }
} @else {
  <div class="card-box">
    <p>No orders yet</p>
  </div>
}
