<div class="slider-wrapper">
  <!-- LEFT ARROW -->
  <button class="nav prev" (click)="prev()" [disabled]="currentIndex() === 0">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <!-- PRODUCTS -->
  <div class="slider-row">
    @for (product of visibleProducts(); track product.id) {
      <div class="product-card" (click)="viewDetails(product.id)">
        <img [src]="product.image" alt="product" />
      </div>
    }
  </div>

  <!-- RIGHT ARROW -->
  <button
    class="nav next"
    (click)="next()"
    [disabled]="currentIndex() + visibleCount >= products().length"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
